*{
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

h2 {
  margin-top: 150px;  
}

span {
  border-bottom: 3px solid black;
  font-size: 30px;
}

input, table{
  margin-top: 30px;
}

#column, #people{
  width: 50px;
}

th {
  margin: 0 auto;
  padding: max-content;
  color: rgb(0, 0, 0);
  font-size: large;
  font-size: 20px;
  background-color: rgb(6, 104, 6);
}

table,
td {
  border: 1px solid rgb(0, 0, 0);
}

thead {
  background-color: #333;
  color: rgb(255, 255, 255);
}

td{
  padding: 7px;
  margin: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

tbody > tr {
  display: flex;
}